{%extends 'base.html'%}

{%block conteudo%}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Adição de Cliente <small><a href="http://127.0.0.1:8000/SysUp/cliente/pesquisa/">(Voltar)</a></small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="http://127.0.0.1:8000/SysUp/cliente/add/" name="formulario">
{% csrf_token %}
            <div class="form-group">
                <label class="col-lg-1 control-label">Nome</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do Cliente">
                </div>

                <label class="col-lg-1 control-label">Codigo</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="codigo" id="codigo" placeholder="JUA0001" readonly alt="Não pode ser editado">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">CPF/CNPJ</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="cpf_cnpj" id="cpf_cnpj" placeholder="">
                </div>

                <label class="col-lg-1 control-label">RG</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="rg" id="rg" placeholder="">
                </div>

                <label class="col-lg-1 control-label">Nascimento</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="data_nascimento" id="data_nascimento" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Telefone</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="telefone" id="telefone" placeholder="">
                </div>

                <label class="col-lg-1 control-label">Celular</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="celular" id="celular" placeholder="">
                </div>

            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Endereço</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="endereco" id="endereco" placeholder="">
                </div>

                <label class="col-lg-1 control-label">Número</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="numero" id="numero" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Bairro</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="bairro" id="bairro" placeholder="">
                </div>

                <label class="col-lg-1 control-label">Cidade</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="cidade" id="cidade" placeholder="">
                </div>

                <label class="col-lg-1 control-label">Estado</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="estado" id="estado" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Referência</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="referencia" id="referencia" placeholder="">
                </div>

                <label class="col-lg-1 control-label">CEP</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="cep" id="cep" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Email</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="email" id="email" placeholder="">
                </div>

                <label class="col-lg-1 control-label"></label>
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Receber novidades?
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Pai</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="nome_pai" id="nome_pai" placeholder="">
                </div>
                <label class="col-lg-1 control-label">Telefone</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="telefone_pai" id="telefone_pai" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">Mãe</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="nome_mae" id="nome_mae" placeholder="">
                </div>

                <label class="col-lg-1 control-label">Telefone</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="telefone_mae" id="telefone_mae" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">OBS</label>
                <div class="col-sm-11">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>

            <button class="btn btn-primary col-sm-offset-9" type="submit">Cadastrar</button>
            <button class="btn btn-warning" type="reset">Apagar Campos</button>
        </form>
    </div>
</div>


<!-- /.row -->
{%endblock%}